Assets/Scripts/ForStudy/DataForTest/document.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="main">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="geo-data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="geo">
                <xs:complexType>
                  <xs:attribute name="cad" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="area" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>